<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883672990616-6i7258o4l65v4l5ac9hdrclljhc7l25h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883672990616-6i7258o4l65v4l5ac9hdrclljhc7l25h</string>
	<key>API_KEY</key>
	<string>AIzaSyB6LFCVVIkLx4xBISETJjc9bQ4DaYAFhrs</string>
	<key>GCM_SENDER_ID</key>
	<string>883672990616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.coffeeshop</string>
	<key>PROJECT_ID</key>
	<string>coffeeappshop</string>
	<key>STORAGE_BUCKET</key>
	<string>coffeeappshop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883672990616:ios:0bd04c49fc4264c14121ed</string>
</dict>
</plist>